{% extends "citas/base_citas.html" %}

{% block title %}Panel{% endblock title %}

{% block content %}

    {% include "citas/panel/navbar.html" %}

    <div class="container">

        <div class="page-header">
            <h4>
                <a href="{% url 'citas_app:panel' %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Volver
                </a>
                <strong><center>Crear Visita</center></strong>
            </h4>
        </div><!-- page-header -->

        <div class="row">
            
            <div class="col-md-12">
                    <!--encytipe nos permite enviar archivos desde el formulario.-->
                <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Añade los datos de la visita.</p>

                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label>{{ form.name.label_tag }}</label>
                        {{ form.name }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.summary.label_tag }}</label>
                        {{ form.summary }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.content.label_tag }}</label>
                        {{ form.content }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.category.label_tag }}</label>
                        {{ form.category }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.place.label_tag }}</label>
                        {{ form.place }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.start.label_tag }}</label>
                        {{ form.start }}
                        <p class="help-block">Introduce el inicio de la visita. DD/MM/AA HH:MM:SS.</p>
                    </div>

                    <div class="form-group">
                        <label>{{ form.finish.label_tag }}</label>
                        {{ form.finish }}
                        <p class="help-block">Introduce el final de la visita. DD/MM/AA HH:MM:SS.</p>
                    </div>

                    <div class="form-group">
                        <label>{{ form.imagen.label_tag }}</label>
                        {{ form.imagen }}
                    </div>


                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar Visita</button>
                    </div>
                </form>

            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock content %}