{% extends "citas/base_citas.html" %}

{% block title %}Panel{% endblock title %}

{% block content %}

    {% include "citas/panel/navbar.html" %}

     {% include "citas/panel/navmenu.html" %}



    <div class="container">
      {% include "citas/panel/navmenuindex.html" %}
        <div class="page-header">
            <h4>

                <strong>Editando: {{ user.first_name }}</strong>
            </h4>
        </div><!-- page-header -->

        <div class="row">
            <div class="col-md-12">
                <form role="form" action="{% url 'usuarios_app:editar' user.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Edición de usuario.</p>

                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label>{{ form.name.label_tag }}</label>
                        {{ form.first_name }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.summary.label_tag }}</label>
                        {{ form.last_name }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.content.label_tag }}</label>
                        {{ form.email }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.category.label_tag }}</label>
                        {{ form.category }}
                    </div>

                      <a href="/usuario/password_change" class="btn btn-success">
                    <span>Cambiar contraseña</span>
                    </a>

                    <div class="form-group">
                        <label>{{ form.imagen.label_tag }}</label>
                        {{ form.avatar }}

                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar usuario</button>
                    </div>

                     <tr>
                            {% if user.is_worker = true %}
                            <th>Nombre del trabajador</th>
                            <td>{{ user.first_name }}</td>
                            <th>Fecha de TA2</th>
                            <td>{{ user.TA2_date }}</td>
                            <th>Fecha médica</th>
                            <td>{{ user.medical }}</td>
                            <th>Fecha de información</th>
                            <td>{{ user.information }}</td>
                            <th>Fecha de formación</th>
                            <td>{{ user.formation_date }}</td>
                            <th>Fecha de EPI</th>
                            <td>{{ user.EPI_date }}</td>
                            {% endif %}
                        </tr>

                </form>


            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock content %}