{% extends "citas/base_citas.html" %}

{% block title %}Nueva Contraseña {% endblock title %}

{% block content %}
<p>Por favor introduce tu correo para recibir las instrucciones de recuperación</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
{% endblock %}