{% extends "citas/base_citas.html" %}

{% block title %}Nueva Contraseña {% endblock title %}


        {% autoescape off %}
¡Hola! Estás recibiendo este correo porque has realizado la petición de reiniciar tu contraseña en {{ site_name }}.

Por favor, ingresa en la siguiente página y elige una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Tu usuario, en caso de haberlo perdido es: {{ user.username }}

Que tenga un buen día.

IAPSA - Servicio de Informática.

{% endautoescape %}